<div class="project-detail" fxLayout="row" fxLayoutGap="20px">
  <div>
    1
  </div>
  <div fxLayout="row" fxLayoutGap="25px">
    <div fxLayout="column" fxLayoutAlign="center" fxLayoutGap="10px">
      <div>
        <nz-progress [ngModel]="10" [nzType]="'circle'" [nzWidth]="80"></nz-progress>
      </div>
      <div fxLayoutAlign="center"><span>当前进度</span></div>
    </div>
    <div fxLayout="column" fxLayoutAlign="center" fxLayoutGap="10px">
      <span class="project-completion"> 进度落后 </span>
      <span><b>20</b> 剩余</span>
      <span><b>0</b> 已完成</span>
    </div>
  </div>
</div>




